<p-panel header="Register">
  <p>Please fill this form to register you as Martian</p>
  <form (ngSubmit)="onSubmit()">
    <p-fieldset legend="Personnal informations">
      <div class="p-field">
        <label for="firstname">First name</label><br/>
        <input id="firstname" pInputText [(ngModel)]="user.firstname" required="" name="firstname" type="text" pInputText>
      </div>
      <div class="p-field">
        <label for="lastname">Lastname</label><br/>
        <input id="lastname" pInputText [(ngModel)]="user.lastname" required="" name="lastname" type="text" pInputText>
      </div>
      <div class="p-field">
        <label for="birthday">Birthday</label><br/>
        <p-calendar id="birthday" [(ngModel)]="user.birthday" required="" name="birthday"></p-calendar>
      </div>
      <div class="p-field">
        <button pButton type="submit" label="Register"></button>
      </div>
    </p-fieldset>
  </form>
</p-panel>
