<p-panel *ngIf="!user">
  <form #f="ngForm" (ngSubmit)="login(f.value)" novalidate>
    <div class="p-field">
      <label for="id">ID</label><br/>
      <input type="text" name="id" ngModel required #id="ngModel" pInputText>
    </div>
    <button pButton label="Login"></button>
  </form>

</p-panel>

<p-panel *ngIf="user">
  Your ID : {{user.id}}<br/>
  <ng-container [ngSwitch]="user.state">
    <ng-container *ngSwitchCase="'CREATED'">
      Please wait until administrator is reviewing your case
    </ng-container>
    <ng-container *ngSwitchCase="'EARTH_CONTROL'">
      Please wait until EARTH administrator is reviewing your case
    </ng-container>
    <ng-container *ngSwitchCase="'MARS_CONTROL'">
      Please wait until MARS administrator is reviewing your case
    </ng-container>
    <ng-container *ngSwitchCase="'DONE'">
      Your registration is complete, thank you
    </ng-container>
    <ng-container *ngSwitchCase="'REFUSED'">
      You are a criminal, do not move or our robot will atomize you :) <br/>
      Keep calm and be a nice unicorn
    </ng-container>
  </ng-container>
</p-panel>
